{% extends "base.html" %}
{% block title %} Login | inventoryApp {% endblock %}
{% block content %}
  <div class="mx-auto mt-5"  style="width: 400px;">
    <div class="card bg-light text-dark">
      <div class="card-body">
        {% if invalidcredential %}
          <div class="alert alert-danger">
              Invalid username or password.
          </div>
        {% endif%}
        <form action="/inventoryApp/login/" method="POST">{% csrf_token %}
          <div class="form-group">
            <label for="userName">Username:</label>
            <input type="text" class="form-control form-control-sm" id="userName" placeholder="Enter username" name="userName" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control form-control-sm" id="password" placeholder="Enter password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Login</button>
          <a class="float-right" href="/inventoryApp/register/">Create new account</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}